@import "tailwindcss";

:root {
  --color-teal: #09B1BA;
  --color-teal-dark: #007782;
}

@theme inline {
  --color-brand: var(--color-teal);
  --color-brand-dark: var(--color-teal-dark);
}

body {
  font-feature-settings: "cv02","cv03","cv04","cv11";
}
